@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

:root {
  --main-color: #F2E9D8;
  --sub-color: #D97652;
  --font-family: "SpoqaHanSansNeo-Regular", sans-serif;
}

html {
  font-size: 10px;
  width: 1920px;
}

header {
  font-size: 1.6rem;
}

header nav {
  padding: 31px 320px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  ma
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 30px;
}

li {
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

.logo-top {
  width: 130px;
  height: 40px;
  margin-right: 756px;
}

button {
  color: white;
  background-color: var(--sub-color);
  padding: 15px 30px;
  border-radius: 40px;
  font-size: 1.6rem;
  border: none;
  margin-left: 40px;
}

.content-box img {
  width: 660px;
  aspect-ratio: 2/1;
  object-fit: cover;
}

.content-img img {
  width: 378px;
  height: 378px;
}

footer img {
  width: 300px;
  height: 120px;
}

